:host {
  padding: 8px;
}

.tooltip-container {
  background-color: rgba(74, 74, 73, 0.9);
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 4px;
}

.ts-tooltip-sm {
  max-width: 300px;
}
.ts-tooltip-md {
  max-width: 400px;
}
.ts-tooltip-lg {
  max-width: 500px;
}
