:host ::ng-deep {
    .mat-expansion-panel:not([class*='mat-elevation-z']) {
        box-shadow: none;
    }

    .mat-card {
        box-shadow: none !important;
        padding: 0;
    }

    .mat-list {
        padding: 0;
    }

    .mat-expansion-panel-body {
        padding: 0 24px 0px;
    }

    .mat-expansion-panel-spacing {
        margin: 0;
    }
}