<div
  class="meter mb-1"
  ngClass="level-{{ strength }}"
  fxLayout="row"
  fxLayoutAlign="space-between"
  fxLayoutGap=".5rem"
>
  <div *ngFor="let i of [0, 0, 0, 0, 0]" class="section" fxFlex></div>
</div>
<small
  >Password strength:
  <span [class]="meter[strength] ? meter[strength].toLowerCase() : ''">{{
    meter[strength]
  }}</span></small
>
<div *ngIf="feedback" style="margin-top: 0.5rem">
  <div fxLayout fxLayoutAlign="start center" fxLayoutGap=".5rem">
    <mat-icon color="warn">warning</mat-icon>
    <div>{{ feedback }}</div>
  </div>
  <div *ngFor="let s of suggestions">{{ s }}</div>
</div>
