:host {
  .worst {
      color: red;
  }

  .bad {
      color: purple;
  }

  .weak {
      color: yellow;
  }

  .good {
      color: yellowgreen;
  }

  .strong {
      color: green;
  }

  meter {
      width: 100%;
  }

  .section {
      height: 8px;
      background-color: #dadada;
      transition: background-color 1s linear;
  }

  .meter {
      &.level-0 {
          .section:first-child {
              background-color: red;
          }
      }

      &.level-1 {
          .section:nth-child(-n + 2) {
              background-color: purple;
          }
      }

      &.level-2 {
          .section:nth-child(-n + 3) {
              background-color: yellow;
          }
      }

      &.level-3 {
          .section:nth-child(-n + 4) {
              background-color: yellowgreen;
          }
      }

      &.level-4 {
          .section:nth-child(-n + 5) {
              background-color: green;
          }
      }
  }
}
